# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories
__pycache__/
[Bb]in/
[Bb]uild/
[Oo]bj/
[Dd]ep/
*.egg-info/
[Dd]ata/
[Ww]ip/
[Ll]ogs/
[Pp]redict_toy/
[Uu]pdates/
